<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>fashion</display-name>
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>720</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.example.moskva.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ForgotPasswordController</servlet-name>
		<servlet-class>com.example.moskva.controller.ForgotPasswordController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPasswordController</servlet-name>
		<url-pattern>/forgot-password.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>com.example.moskva.controller.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/home.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogOutController</servlet-name>
		<servlet-class>com.example.moskva.controller.LogOutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOutController</servlet-name>
		<url-pattern>/logout.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>com.example.moskva.controller.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccountController</servlet-name>
		<servlet-class>com.example.moskva.controller.AccountController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountController</servlet-name>
		<url-pattern>/account.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HistoryBillController</servlet-name>
		<servlet-class>com.example.moskva.controller.HistoryBillController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoryBillController</servlet-name>
		<url-pattern>/history-billing.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DetailBillController</servlet-name>
		<servlet-class>com.example.moskva.controller.DetailBillController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailBillController</servlet-name>
		<url-pattern>/detail-billing.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DetailController</servlet-name>
		<servlet-class>com.example.moskva.controller.DetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailController</servlet-name>
		<url-pattern>/detail-product.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CartController</servlet-name>
		<servlet-class>com.example.moskva.controller.CartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartController</servlet-name>
		<url-pattern>/cart.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckOutController</servlet-name>
		<servlet-class>com.example.moskva.controller.CheckOutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckOutController</servlet-name>
		<url-pattern>/checkout.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>com.example.moskva.controller.SearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/search.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>404Page</servlet-name>
		<jsp-file>/404.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>404Page</servlet-name>
		<url-pattern>/404.html</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
</web-app>